<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia laboral</title>
</head>
<body>
    
    <h1>
        Experiencia laboral
    </h1>

    <code>
        result= input(input('Inser age'))
    </code>

    <a href="../png.jpg" dowland="">
        abreme
    </a>
    <div id="Contenido">

        <div id="Enlaces"></div>

    <a href="tel:6122047315">
        Realizar una llamada
    </a>
    <a href="../index.html">
    Ir al home
</a>

<a href="#footer">
    Ir al footer
</a>

<a href="../about.html">
    Ir a Bio
</a>

<a href="../contact.html">
    Ir a contacto
</a>
<a href="work.html">
    Ir a cv
</a>

<h3>
    Hola
</h3>

<label>

    Soy un subtitulo
</label>

<p>
   El <strong>hotel</strong> del centro es el más antiguo del pueblo y también es aquel que tiene más comodidades.<s>Este hotel fue construido en 1911</s> , <mark>pero primero se utilizó como casa de familia.</mark> 
   <u>En 1975 un inversionista compró esta propiedad y la reformó para transformarla en el hotel que hoy conocemos. </u>
   <i>Es un hotel pequeño</i>, <em>pero cuenta con servicio a la habitación, con pileta climatizada, con un restaurante de categoría, entre otras cosas. </em>
</p>


</div> 
    
</body>
</html>