<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia laboral</title>
</head>
<body>
    
    <h1>
        Experiencia laboral
    </h1>

    <div id="Contenido">

        <div id="Enlaces"></div>

    <a href="tel:6122047315">
        Realizar una llamada
    </a>
    <a href="../index.html">
    Ir al home
</a>

<a href="#footer">
    Ir al footer
</a>

<a href="../about.html">
    Ir a Bio
</a>

<a href="../contact.html">
    Ir a contacto
</a>
<a href="work.html">
    Ir a cv
</a>
</div> 
    
</body>
</html>